---
export const prerender = true

import HTML from "@/layouts/HTML.astro"
import { getTags } from "@/lib/posts"

const tags = await getTags()
---

<HTML
  head={{
    title: "Blog Tags",
    description: "See all tags on the posts",
  }}
>
  <main class="mx-auto max-w-3xl px-4 py-8">
    <section class="my-astro-content">
      <ul class="list-none">
        {
          tags.map((tag) => (
            <li class="my-1">
              <a class="text-secondary" href={`/tags/${tag}`}>
                #{tag}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</HTML>
