---
import Layout from "@layouts/Default.astro";
import RecentBlogPosts from "@components/generic/RecentBlogPosts.astro";
import MobileSocials from "@components/home/MobileSocials.astro";
import { Pill } from "@eliancodes/brutal-ui";
import { Button } from "@eliancodes/brutal-ui";
import { Card } from "@eliancodes/brutal-ui";
---

<Layout
  title="Home"
  pageTitle="drornir.dev | Home"
  description="Brutal is a minimalistic, neobrutalism theme for Astro."
>
  <main class="bg-pink p-6">
    <MobileSocials />
    <section id="about" class="grid md:grid-cols-8 gap-8 mt-4">
      <h2 class="hidden">About This Site</h2>
      <div class="col-span-4">
        <Card>
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 outfit text-2xl md:text-5xl lg:text-7xl">
              Hi there!
            </p>
            <p class="mt-2 outfit text-xl md:text-3xl lg:text-5xl">
              This is my personal website, with my links and dev blog
            </p>
            <Button target={"_self"} href="/blog/">
              Check out the blog &rarr;
            </Button>
          </div>
        </Card>
      </div>

      <div class="col-span-2">
        <Card>
          <h2 class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif">
            Thanks!
          </h2>
          <p class="poppins">
            This site uses free and open source software. It's built with <a
              href="https://astro.build/">Astro</a
            >
            and uses <a href="https://astro.build/themes/details/brutal/"
              >Brutal Theme</a
            > by <a href="https://www.elian.codes/">Elian</a>.
          </p>
          <p class="poppins">
              For infra I'm using <a href="https://pages.cloudflare.com/">Cloudlflare Pages</a>
            </p>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
