---
import HTML from "../layouts/HTML.astro"
---

<HTML>
  <main class="mx-auto max-w-3xl px-4 py-8">
    <div class="my-astro-content">
      <h1 class="my-8 rounded-md bg-card p-2 text-4xl">Hello, I'm Dror! 👋</h1>
      <article class="">
        <p>I Develop Dev Tools for fun and profit 🤑</p>
        <p>I'm reworking this website at the moment, so it might seem a bit empty right now.</p>
        <p>
          This is my corner of the internet where I publish my thoughts about programming, programmers, life and whatever I want to share
          that deserves more than a tweet.
        </p>
        <p>
          I wanted a place where I can write, but also add interactivity to bring my point home. I'm not there yet! I've only recently
          converted this website to Astro (from Hugo), so stay tuned for some interactive content soon!
        </p>
        <p class="text-sm">
          A note about AI: I might run a blog post through chatgpt for spelling a grammar mistakes and other basic help, but I won't be
          generating full blog posts or anything creative and claim it as my own.
        </p>
        <p class="text-sm">
          And regrading robots: I generally don't mind this site to be scraped as I don't intend to use it commercially.
        </p>
      </article>
    </div>
  </main>
</HTML>
