---
import HTML from "../layouts/HTML.astro"
import RecentPosts from "@/components/RecentPosts.astro"

export const prerender = true
---

<HTML>
  <main class="mx-auto flex max-w-3xl flex-col px-4 py-8">
    <div class="my-astro-content">
      <div class="flex items-center justify-between">
        <h1 class="my-0 rounded-md bg-card text-4xl">Hello, I'm Dror! 👋</h1>
        <img src="/me.jpg" class="my-0 ms-auto w-24 rounded-full" />
      </div>
      <article class="">
        <p class="mt-0">Welcome to my website!</p>
        <p>I'm a software developer doing mostly devops related work.</p>
        <p>I've worked for MinuteMedia, Velocity and now SignalPET</p>
        <p>
          Checkout my <a href="https://github.com/drornir">Github</a>
          and the posts I occasionally write here.
        </p>
      </article>
    </div>
    <section class="mt-6">
      <RecentPosts />
    </section>
  </main>
</HTML>
