---
import HTML from "../layouts/HTML.astro"
---

<HTML>
  <main class="mx-auto max-w-3xl px-4 py-8">
    <div class="my-astro-content">
      <h1 class="my-8 rounded-md bg-card p-2 text-4xl">Hello, I'm Dror! 👋</h1>
      <article class="">
        <p>I'm a software developer doing mostly devops related work</p>
        <p>Welcome to my website!</p>
        <p>
          Checkout my Github: <a href="https://github.com/drornir">https://github.com/drornir</a>
        </p>
        <p>
          And the posts I occasionally write <a href="/posts">here</a>
        </p>
      </article>
    </div>
  </main>
</HTML>
