---
import Footer from "../components/Footer.astro"
import type { Props as HeadProps } from "../components/Head.astro"
import Head from "../components/Head.astro"
import Header from "../components/Header.astro"

interface Props {
  head?: HeadProps
}
---

<!doctype html>
<html class="dark" lang="en">
  <Head {...Astro.props.head} />

  <body class="">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
